@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
  /*fonts*/
  --font-Rubik: 'Rubik', sans-serif;
  /*colors*/
  
  /*breackPoints*/
  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-extra-large: 1200px;
}

